{% include 'header.html' %}
<section class="home">
  <div class="description">
    <h1 class="title">
      <span class="gradient-text">GeoData </span> from excel
    </h1>
    <p class="paragraph">
      importing Excel files containing longitude, latitude, and place names into
      the application's database.
    </p>
  </div>

  <div class="container">
    <h2>File Upload</h2>
    <form action="/uploadfile" method="post" enctype="multipart/form-data">
      <label for="file-input" class="upload-btn">
        <i class="bx bx-cloud-upload"></i> Choose File</label
      >
      <input type="file" id="file-input" name="file" />
      <p id="file-name"></p>
      <button type="submit" class="upload-btn">Upload</button>
    </form>
  </div>
</section>
{% include 'bottom.html' %}
