{% include 'header.html' %}
<section class="home">
  <div class="description">
    <h1 class="title">
      <span class="gradient-text">GeoData </span> from excel
    </h1>
    <p class="paragraph">
      importer le fichier excel contenant les nom du villes (<i>Ville</i>) et
      leurs coordonnee geographique ( <i> latitude </i> et <i>longitude</i> ) et
      choisiser une methode de d'algoritheme pour vous permettre d'avoir le
      chemain le plus court a parcourire
    </p>
  </div>

  <div class="container">
    <h2 style="color: black">uploader le fichier ici</h2>
    <form action="/uploadfile" method="post" enctype="multipart/form-data">
      <label for="file-input" class="upload-btn">
        <i class="bx bx-cloud-upload"></i> Choose File</label
      >
      <p style="color: black"><i>type d'algorithme:</i></p>
      <p>
        <input type="file" id="file-input" name="file" />
      </p>

      <p id="file-name"></p>
      <select name="type">
        <option value="ACO">ACO</option>
        <option value="Alg_approx">Algorithme d'approximation</option>
      </select>

      <button type="submit" class="upload-btn">Upload</button>
    </form>
  </div>
</section>
{% include 'bottom.html' %}
